<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="assets/img/boticon.png" type="image/x-icon" />
    <!--=============== BOXICONS ===============-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="assets/css/styles.css" />
    <title>Commands - SkyHelper</title>
  </head>
  <body>
    <!--==================== HEADER ====================-->
    <%- include('includes/header') -%>
    <!-- Content -->
    <main class="main">
      <section class="home section" id="home">
        <div class="home__container container grid">
          <div class="home__data">
            <h1 class="home__title">Commands</h1>
          </div>
        </div>
      </section>
      <section class="value section" id="value">
        <div class="value__container container">
          <div class="value__content">
            <div class="value__data">
              <h2 class="section__title">Arguments<span>.</span></h2>
              <p class="value__description">
                <b>Required</b>: <span class="code-block">&lt;&gt;</span>
                <br />
                <br />
                <b>Optional</b>: <span class="code-block">[]</span>
              </p>
            </div>
            <div class="value__accordion">
              <% commands.forEach((cmd) => { %>
              <div class="value__accordion-item">
                <header class="value__accordion-header">
                  <h3 class="value__accordion-title">/<%= cmd.name %></h3>
                  <p class="cmd__desc">- <%= cmd.description %> </p>
                  <div class="value__accordion-arrow">
                    <i class="bx bxs-down-arrow"></i>
                  </div>
                </header>
                <div class="value__accordion-content">
                 <p class="cmd__accordion-desc">
                 <% if (cmd.options?.filter(o => o.type !== 1).length) { %>
                  <b>Usage:</b> <br>
                <% cmd.options?.filter(o => o.type !== 1).forEach((opt) => { %>
                  <span class="code-block"><%= opt.required ?  `<${opt.name}>` : `[${opt.name}]` %></span> - <%= opt.description %>
                    <br />
                    <br />
               <% }) %>
               <% } %>
                <% if (cmd.options?.filter(o => o.type === 1).length) { %>
                <b> SubCommands </b> <br> <br>
               <% cmd.options?.filter((o) => o.type === 1).forEach((opt, i) => { %>
                 <%= i + 1 %>. <span class="code-block">/<%= cmd.name %> <%= opt.name %></span> - <%= opt.description %> <% if (opt.options?.length) { %><br> <br>&nbsp&nbsp <b> Usage:</b>
                 <% } %>
                   <% opt.options?.forEach((op) => { %>
                      <br>
                     &nbsp &nbsp &nbsp &nbsp
                     • <span class="code-block"><%= op.required ?  `<${op.name}>` : `[${op.name}]` %></span> - <%= op.description %>
                     <br>
                  <% }) %>
                    <br />
                    <br />
             <%  }) %>
             <% } %>
                  </p>
                </div>
              </div>
            <% }) %>
                
            </div>
          </div>
        </div>
      </section>
    </main>
    <!--==================== FOOTER ====================-->
    <%- include('includes/footer') -%>
    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-chevrons-up"></i>
    </a>
    <!--=============== SCROLLREVEAL ===============-->
    <script src="assets/js/scrollreveal.min.js"></script>
    <!--=============== SWIPER JS ===============-->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <!--=============== MAIN JS ===============-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
